@font-face {
    font-family: FrutigerLTStd-Black;
    src: url(fonts/FrutigerLTStd-Black.otf);
}
@font-face {
    font-family: FrutigerLTStd-LightCn;
    src: url(fonts/FrutigerLTStd-LightCn.otf);
}
@font-face {
    font-family: FrutigerLTStd-BoldCn;
    src: url(fonts/FrutigerLTStd-BoldCn.otf);
}
* {
    margin: 0;
    padding: 0;
}

/*common*/

body {
    width: 1024px;
    margin: auto;
    height: 100%;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
header {
    /* height: 8.66%; */
    height: 48px;
    border-bottom: white;
    -webkit-box-shadow: 0px 2px 2px 0px #e2e2e2;
    -moz-box-shadow: 0px 2px 2px 0px #e2e2e2;
    box-shadow: 0px 2px 2px 0px #e2e2e2;
    background-color: #eeeeee; 
}
nav {
    font-size: 16px;
    font-family: FrutigerLTStd-BoldCn, sans-serif;
    color: black;
    height: 48px;
}
nav div {
    float: left;
    text-align: center;
    text-decoration: none;
    border-left: 1px solid #cbcbcb;
    height: 48px;
    width: 318px;
}
nav div a {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    text-decoration: none;
}
.homepage {
    width: 64px;
}
h1 {
    font-size: 27px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    color: #432171;
    text-align: center;
    margin: 26px 0 35px 0;
}
h2 {
    background-color: #c1c0c0;
    /* width: 100%; */
    font-size: 16px;
    font-family: FrutigerLTStd-Black,sans-serif;
    color: white;
    float: left;
    margin: 4px 0px 0px 14px;
}

/*calculator*/

.calc_column {
    /* width: 37.01%;*/
    width: 377px;
}
.calc_column li {
    list-style-type: none;
}
.calc_column_header input {
    width: 183px;
    height: 30px;
    float: left;
    margin: 10px 6px 10px 13px;
    border-color: #9a9a9c;
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif;
    font-size: 10px;
    color: black;
    -webkit-box-shadow: inset 0px 2px 2px 0px #d8d7d8;
    -moz-box-shadow: inset 0px 2px 2px 0px #d8d7d8;
    box-shadow: inset 0px 2px 2px 0px #d8d7d8;
    text-align: center;
}
.calculate_button {
    font-size: 12px;
    font-family: FrutigerLTStd-Black, sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 10px 6px 10px 0px;
    width: 96px;
    height: 32px;
    float: left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.7, #ddd0e3),
	color-stop(1, #e31e86)
    );
    background-image: -o-linear-gradient(top, #e31e86 70%, #ddd0e3 100%);
    background-image: -moz-linear-gradient(top, #e31e86 70%, #ddd0e3 100%);
    background-image: -webkit-linear-gradient(top, #e31e86 70%, #ddd0e3 100%);
    background-image: -ms-linear-gradient(top, #e31e86 70%, #ddd0e3 100%);
    background-image: linear-gradient(to top, #e31e86 70%, #ddd0e3 100%);
    border-color: #e31e86;
    border-width: 1px;
    border-style: solid;
}
.help_button {
    float: right;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin: 13px 8px 0px 0px;
    font-size: 12px;
    font-family: FrutigerLTStd-Black, sans-serif;
    color: #502d80;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.7, #d2d2d2),
	color-stop(1, #ebebea)
    );
    background-image: -o-linear-gradient(top, #ebebea 70%, #d2d2d2 100%);
    background-image: -moz-linear-gradient(top, #ebebea 70%, #d2d2d2 100%);
    background-image: -webkit-linear-gradient(top, #ebebea 70%, #d2d2d2 100%);
    background-image: -ms-linear-gradient(top, #ebebea 70%, #d2d2d2 100%);
    background-image: linear-gradient(to top, #ebebea 70%, #d2d2d2 100%);
    border-color: #d2d3d4;
    border-width: 1px;
    border-style: solid;
}
.calc_column_header div {
    border-color: #9a9a9c;
    border-style: solid;
    border-width: 1px;
    width: 375px;
    height: 54px;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #ffffff),
	color-stop(1, #9c9b9c)
    );
    background-image: -o-linear-gradient(top, #9c9b9c 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #9c9b9c 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(top, #9c9b9c 0%, #ffffff 100%);
    background-image: -ms-linear-gradient(top, #9c9b9c 0%, #ffffff 100%);
    background-image: linear-gradient(to top, #9c9b9c 0%, #ffffff 100%);
}
.calc_column_header p {
    height: 54px;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #e8e8e8),
	color-stop(1, #ffffff)
    );
    background-image: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: linear-gradient(to top, #ffffff 0%, #e8e8e8 100%);
    color: #7c7a7b;
    font-family: sans-serif;
    font-size: 9px;
    padding: 4px 14px 0px 14px;
}
.left_column {
    float: left;
    margin-left: 105px;
    height: 417px;
    /* height: 54.69%;
    margin-left: 10.25%; */
}
.right_column {
    height: 353px;
    margin-left: 55px;
    float: left;
    /* margin-right: 10.84%;
    height: 46.09%;*/
}
.formulas {
    border-color: #9b9a9a;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    color: #e31e86;
    margin: 3px 9px 3px 0px;
    width: 91px;
    height: 24px;
    float: right;
    font-family: FrutigerLTStd-Black,sans-serif;
    font-size: 15px;
    -webkit-box-shadow: inset 0px 2px 2px 0px #d8d7d8;
    -moz-box-shadow: inset 0px 2px 2px 0px #d8d7d8;
    box-shadow: inset 0px 2px 2px 0px #d8d7d8;
    text-align: right;
}
.formulas p{
    margin: 3px 9px 4px 0px;
}
.plus_button {
    color: #7c7a7b;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    background-color: #ededed;
    border-color: #979899;
    float: left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.7, #d5d5d5),
	color-stop(1, #e8e8e8)
    );
    background-image: -o-linear-gradient(top, #e8e8e8 70%, #d5d5d5 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 70%, #d5d5d5 100%);
    background-image: -webkit-linear-gradient(top, #e8e8e8 70%, #d5d5d5 100%);
    background-image: -ms-linear-gradient(top, #e8e8e8 70%, #d5d5d5 100%);
    background-image: linear-gradient(to top, #e8e8e8 70%, #d5d5d5 100%);
    border-color: #7c7a7b;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 7px;
}
.variable {
    width: 100%;
    height: 73px;
}
.variable_name {
    height: 34px;
    width: 100%;
    background-color: #c1c0c0;
}
.variable_description p {
    width: 340px;
    height: auto;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 33px;
}
.variable_description {
    height: 40px;
    width: 100%;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #ABB2B8),
	color-stop(1, #DCDFE1)
    );
    background-image: -o-linear-gradient(top, #ABB2B8 0%, #DCDFE1 100%);
    background-image: -moz-linear-gradient(top, #ABB2B8 0%, #DCDFE1 100%);
    background-image: -webkit-linear-gradient(top, #ABB2B8 0%, #DCDFE1 100%);
    background-image: -ms-linear-gradient(top, #ABB2B8 0%, #DCDFE1 100%);
    background-image: linear-gradient(to top, #ABB2B8 0%, #DCDFE1 100%);
}
.calculator_legend { 
    margin-top: 462px;
    margin-left: 105px;
    width: 808px;
    height: 87px;
    /* height: 11.39%;
    width: 79.00%;
    margin-left: 10.25%; */
}
.calculator_legend_header {
    font-size: 16px;
    font-family: FrutigerLTStd-Black,sans-serif;
    color: white;
    background-color: #502d80;
    padding: 8px 0px 0px 14px;
    height: 26px;
}
.calculator_legend ul {
    width: 808px;
    height: 54px;
    text-align: justify;
}
.calculator_legend li {
    font-family: FrutigerLTStd-Black,sans-serif;
    font-size: 14px;
    color: #7c7a7b;
    list-style: none;
    background-color:rgba(255, 255, 255, 0.5);    
    margin-right: 7px;
    display: inline-block;
    padding: 8px 0px 0px 10px;
    height: 46px;
}
.calculator_legend li:last-child {
    margin-right: 0px;
}
section {
    height: 100%;
}

/*graphics*/

.patients {
    margin: 123px 8px 0 122px;
    position: relative;
    width: 90px;
    height: 18px;
    float: left;
}
.patients p {
    font-family: FrutigerLTStd-Black, sans-serif;
    font-size: 14px;
}
.graph {
    margin: 60px 0 0 0;
    position: relative;
    float: left;
    width: 593px;
    height: 357px;
    border-color: #4a2278;
    border-style: solid;
    border-width: 2px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    -moz-border-radius-topright: 40px;
    border-radius: 0 40px 0 40px;
   
}
.left_grade {
    width: 50px;
    height: 100%;
    float: left;
    background-color: #dad9da;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-radius: 0 0 0 38px;
}
.left_grade ul {
    margin-top: 37px;
}
.left_grade li{
    text-align: right;
    margin-top: 18px;
    margin-right: 8px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-size: 13px;
    list-style: none;
}
.grades{
    position: absolute;
    margin-left: 50px;
    margin-top: 11px;
}
.grade {
    height: 1px;
    width: 10px;
    background-color: black;
    list-style: none;
    margin-top: 32px;
}
.grade_line_blue {
    position: absolute;
    height: 5px;
    width: 543px;
    background-color: #4a2278;
    margin: 310px 0 0 50px;
}
.graphics_colomns {
    margin-left: 180px;
    margin-top: 110px;
    height: 200px;
}
.graph_colomn {
    float: left;
    height: 200px;
    width: 135px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
}
.left_col {
    background-color: #1785a3;
}
.right_col {
    background-color: #e3007c;
}
.col_text {
    font-family: FrutigerLTStd-Black, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
}
.upper_text {
    margin-top: 5px;
}
.grad_upper_text{
    position: absolute;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 25px 0 0 265px;
}
.grad_zero {
    position: absolute;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 5px 0 0 45px;
}
.grad_lower_text {
    position: absolute;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 15px 0 0 290px;
}
.patient_image {
    position: relative;
    float: left;
    height: 87px;
    width: 98px;
    background-image: url(images/patient.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 333px 0 38px 0;
}


/*competitors*/

.competitors_general {
    position: relative;
    z-index: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 900px;
    height: 392px;
    -webkit-box-shadow: #bbc0c4 0px 0px 3px;
    -moz-box-shadow: #bbc0c4 0px 0px 3px;
    box-shadow: #bbc0c4 0px 0px 3px;
    margin: 50px 0 0 61px;
}
.right_bottom_square {
    position: relative;
    z-index: 1;
    width: 146px;
    height: 101px;
    margin-left: 815px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: #bbc0c4 0px 2px 3px;
    -moz-box-shadow: #bbc0c4 0px 2px 3px;
    box-shadow: #bbc0c4 0px 2px 3px;
}
.right_bottom_square p {
    font-size: 18px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    color: #432171;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.twoside_arrow {
    width: 225px;
    height: 310px;
    padding-top: 33px;
    float: left;
}
.twoside_arrow p {
    font-size: 14px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    text-align: center;
}
.arrow_itself {
    margin: 9px 0 9px 0;
}
.arr_mid {
    width: 12px;
    height: 204px;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #1785a3),
	color-stop(1, #ff0090)
    );
    background-image: -o-linear-gradient(top, #1785a3 0%, #ff0090 100%);
    background-image: -moz-linear-gradient(top, #1785a3 0%, #ff0090 100%);
    background-image: -webkit-linear-gradient(top, #1785a3 0%, #ff0090 100%);
    background-image: -ms-linear-gradient(top, #1785a3 0%, #ff0090 100%);
    background-image: linear-gradient(to top, #1785a3 0%, #ff0090 100%);
    margin: auto;
}
.arr_up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 28px 16px;
    border-color: transparent transparent #ff0091 transparent;
    margin: auto;
}
.arr_down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 16px 0 16px;
    border-color: #1785a3 transparent transparent transparent;
    margin: auto;
}
.competitors {
    width: 430px;
    height: 100%;
    float: left;
}
.compet {
    height: 55px;
    width: 150px;
    border-radius: 50%/100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    float: left;
    margin: 243px 0 0 0;
}
.compet_value {
    font-size: 20px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
.left_compet {
    background-color: #ff0090;
    float: left;
    margin-left: 32px;
}
.right_compet {
    background-color: #1685a2;
    float: left;
    margin-left: 66px;
}
.chain {
    height: 158px;
    width: 5px;
    -webkit-transform: skew(24deg);
    -ms-transform: skew(24deg);
    transform: skew(24deg);
    background-color: #ff0090;
    float: left;
    margin-top: 85px;
    position: absolute;
}
.left_chain.lcocc {
    margin-left: 67px;
}
.right_chain.lcocc {
    margin-left: 142px;
}
.left_chain.rcocc {
    margin-left: 101px;
}
.right_chain.rcocc {
    margin-left: 176px;
}
.left_chain {
    -webkit-transform: skew(-24deg);
    -ms-transform: skew(-24deg);
    transform: skew(-24deg);
}
.rcocc {
    background-color: #1685a2;    
}
.left_compet_on_chains {
    position: absolute;
    float: left;
}
.right_compet_on_chains {
    position: absolute;
    margin-left: 180px;
    float: left;
}
.nail {
    position: absolute;
    margin: 75px 0 0 140px;
}
.nail_value {
    font-size: 13px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nail_down {
    background-color: #5b2c81;
    height: 26px;
    width: 146px;
}
.nail_up {
    margin-left: 62px;
    background-color: #5b2c81;
    height: 188px;
    width: 22px;
}
.spiel {
    margin-left: 62px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 50px solid #5b2c81;
}
.axis {
    position: absolute;
    height: 10px;
    width: 280px;
    background-color: #5b2c81;
    margin-left: 75px;
    margin-top: 75px;
}
.glob_sat {
    position: absolute;
    margin: 345px 0 0 145px;
    font-size: 13px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    color: #5b2c81;
    text-align: center;
}
.comp_squares {
    float: right;
    height: 100%;
    width: 245px;
}
.comp_squares p {
    float: left;
    margin-left: 7px;
    font-size: 12px;
    font-family: FrutigerLTStd-Black, sans-serif;
    font-weight: bold;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.upper_sq_string {
    margin: 30px 0 9px 0;
}
.sq_string {
    height: 22px;
}
.square {
    float: left;
    width: 22px;
    height: 22px;
}
.lower_sq {
    background-color: #1685a2;
}
.upper_sq {
    background-color: #ff0090;
}
.competitors.left-animation .left_compet_on_chains {
    -webkit-animation: compet_movement 1s;
    animation: compet_movement 1s;
}
.competitors.left-animation .right_compet_on_chains {
    -webkit-animation: other_compet_movement 1s;
    animation: other_compet_movement 1s;
}
.competitors.right-animation .right_compet_on_chains {
    -webkit-animation: compet_movement 1s;
    animation: compet_movement 1s;
}
.competitors.right-animation .left_compet_on_chains {
    -webkit-animation: other_compet_movement 1s;
    animation: other_compet_movement 1s;
}
@-webkit-keyframes compet_movement {
    from {-webkit-transform: translateY(0px);}
    to {-webkit-transform: translateY(20px);}
}
@keyframes compet_movement {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}
@-webkit-keyframes other_compet_movement {
    from {-webkit-transform: translateY(0px);}
    to {-webkit-transform: translateY(-20px);}
}
@keyframes other_compet_movement {
    from {transform: translateY(0px);}
    to {transform: translateY(-20px);}
}
.competitors.left-rotation .axis {
    -webkit-animation: axis_left_rotation 1s;
    animation: axis_left_rotation 1s;
}
.competitors.right-rotation .axis {
    -webkit-animation: axis_right_rotation 1s;
    animation: axis_right_rotation 1s;
}
@-webkit-keyframes axis_left_rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-11deg);}
}
@keyframes axis_left_rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(-11deg);}
}
@-webkit-keyframes axis_right_rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(11deg);}
}
@keyframes axis_right_rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(11deg);}
}
footer {
    clear: both;
    font-family: FrutigerLTStd-LightCn, sans-serif;
    font-size: 12px;
    margin: 38px 0px 36px 105px;
    /* width: 68.36%;
    margin-left: 10.25%;*/
}

























